* {
  font-family: 'Montserrat', sans-serif;
  margin: 1;
  transition: all 0.15s ease;
}

a {
  text-decoration:none;
  color: inherit;
}

body {
  background-color: black;
  color: rgb(255, 255, 255);

}

section {
  max-width: 200%;
  width: 95%;
  margin: -500 auto;
  height: 100px;
  display: flex;
  flex-direction: column;
}

nav lowerSidebar {
  color: rgb(147, 147, 147);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  padding: 0rem 1;
}

nav lowerSidebar  ul {
  list-style:none;
  padding-left: 0;
  display:block;
  align-items: center;
}

nav lowerSidebar ul li:not(:last-child) {
  margin-right: 2rem;
  position:unset;
}

nav lowerSidebar ul li.active::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 100px;
  bottom: -0.3rem;
  left: 0;
  color: rgb(147, 147, 147);
}

nav lowerSidebar ul li.active {
  color: rgb(147, 147, 147);
  font-weight: bold;
}

nav lowerSidebar ul li {
  color: rgb(147, 147, 147);
}

nav {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
  font-size: 0.8rem;
  padding: 0rem 1;
  color: rgb(147, 147, 147);
}

nav .fa-envelope {
  width: 30px;
  height: -3000px;
  border: 1px solid color gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

nav .nav-email {
  display: flex;
  align-items: center;
}

nav ul {
  list-style:none;
  padding-left: 0;
  display:block;
  align-items: center;
  color: white;
}

nav ul li:not(:last-child) {
  margin-right: 2rem;
  position:relative;
}

nav ul li.active::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 3px;
  bottom: -0.3rem;
  left: 0;
  color: gray;
}

nav ul li.active {

  font-weight: bold;
}

nav ul li {
color:  white;
}
.wrapper{
  max-width: 450px;
  margin: -35px auto;
  color: rgb(0, 0, 0);
}

.wrapper .search-input{
  background: rgb(255, 255, 255);
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(89, 89, 89, 0.12);
}

.search-input input{
  height: 30px;
  width: 82%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgb(12, 12, 12);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: -11px;
  height: 33px;
  width: 45px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}